#code-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6vh;
    margin-top: 6vh;
    padding-left: 12vh;
    padding-right: 12vh;
}

#avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}